html body{
    margin:0;
    padding:0;
}

.navigation{
    background: #3193DC;
    height:180px;
}

#welcomeText{
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 40px;
}
.main-part{
    left: 0;
    top: 0;
    padding: 80px;
    width: 100%;
    height: 1300px;
    background-color: rgba(246, 242, 247, 1);
}

.box{
    padding: 100px;
    width: 70%;
    height: 1000px;
    line-height: 20px;
    background-color: rgba(254, 254, 254, 1);
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1);
}

.navigation-font{
    font-family: 'fzhanzhenguangbiaos-gbregular';
    color: white;
    padding-top: 20px;
    padding-left: 40px;
    font-size: 100px;
}
.input-register{
    padding-left: 10%;
    padding-right: 10%;
}

.form-control{
    margin: 20px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.09) inset;
    color: #FFFFFF;
}

.input-valid-group{
    margin-left:20px;
}

.input-valid{
    margin:0;
}
.form-control:hover{
    background-color: rgba(0,0,0,0.16);
}

.form-control:focus{
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
    background-color: rgba(0,0,0,0.23);
    color: #FFFFFF;
}
.input-block{

}
@font-face {
    font-family: 'fzhanzhenguangbiaos-gbregular';
    src: url('../fonts/fzhanzhenguangbiaos-gbregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}